.menu {
  &-block1 {
    padding-top: 105px;
    padding-bottom: 58px;
    position: relative;
    background: url(../img/bg/bg-1.png) no-repeat;
    background-size: 100% 100%;
    padding-left: 16px;
    padding-right: 16px;
    mix-blend-mode: lighten;
    animation: bcg 10s infinite;

    &__logo {
      display: block;
      max-width: 191px;
      max-height: 191px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 47px;
    }

    h1 {
      font-family: 'Inter_bold', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      letter-spacing: 0.2em;
      color: #ffffff;
      margin-bottom: 4px;
    }

    span {
      display: block;
      font-family: 'Roboto_bold', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.2em;
      color: #ffffff;
      margin-bottom: 140px;
    }

    b {
      display: block;
      font-family: 'MADESAONARA', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 100px;
      line-height: 80.02%;
      text-align: right;
      color: #76b9ad;
      margin-bottom: 91px;
    }

    &__arrow {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width: 28px;
        height: 42px;
        animation: arrow 2s ease infinite;
      }

      span {
        margin-bottom: 11px;
      }
    }
  }

  &-block2 {
    background: linear-gradient(0deg, #252428 0%, rgba(0, 0, 0, 0) 14.7%), url(../img/bg/bg-2.png);

    padding-left: 14px;
    padding-right: 17px;
    mix-blend-mode: lighten;
    animation: bcg 8s infinite;
  }

  &-block3 {
    background: linear-gradient(179deg, #252428 0%, rgba(0, 0, 0, 0) 14.7%),
      url(../img/bg/bg-3.png) center center no-repeat;
    background-size: cover;
    padding-left: 14px;
    padding-right: 17px;
    padding-top: 1px;
    mix-blend-mode: lighten;
    animation: bcg 8s infinite;
  }

  &-block4 {
    padding-top: 58px;
    background: linear-gradient(180deg, #25262c -1.98%, rgba(0, 0, 0, 0) 20.1%),
      linear-gradient(360deg, #222429 -8.06%, rgba(0, 0, 0, 0) 29.7%),
      url(../img/bg/bg-4.png) no-repeat;
    background-size: cover;
    padding-left: 14px;
    padding-right: 17px;
    mix-blend-mode: lighten;
    animation: bcg 6s infinite;
  }

  &-block5 {
    padding-top: 48px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, #222328 -1.98%, rgba(0, 0, 0, 0) 20.1%),
      linear-gradient(360deg, #262a31 5.94%, rgba(0, 0, 0, 0) 29.7%),
      url(../img/bg/bg-5.png) no-repeat;
    background-size: cover;
    padding-left: 14px;
    padding-right: 17px;
    mix-blend-mode: lighten;
    animation: bcg 5s infinite;
  }

  &-block6 {
    padding-bottom: 49px;
    background: linear-gradient(180deg, #262a31 -1.98%, rgba(0, 0, 0, 0) 20.1%),
      linear-gradient(360deg, #212328 5.94%, rgba(0, 0, 0, 0) 29.7%),
      url(../img/bg/bg-6.png) no-repeat;
    background-size: cover;
    padding-left: 14px;
    padding-right: 17px;
    mix-blend-mode: lighten;
    animation: bcg 5s infinite;
  }

  &-block7 {
    background: linear-gradient(180deg, #212328 -1.98%, rgba(0, 0, 0, 0) 20.1%),
      linear-gradient(360deg, #212328 5.94%, rgba(0, 0, 0, 0) 29.7%),
      url(../img/bg/bg-7.png) no-repeat;
    background-size: cover;
    padding-left: 14px;
    padding-right: 17px;
    mix-blend-mode: lighten;
    animation: bcg 8s infinite;
  }

  &-block8 {
    padding-top: 45px;
    background: linear-gradient(180deg, #212328 -1.98%, rgba(0, 0, 0, 0) 20.1%),
      linear-gradient(360deg, #212328 0.94%, rgba(0, 0, 0, 0) 29.7%),
      url(../img/bg/bg-8.png) no-repeat;
    background-size: cover;
    padding-left: 14px;
    padding-right: 17px;
    mix-blend-mode: lighten;
    padding-bottom: 1px;
    animation: bcg 8s infinite;
  }

  &-block9 {
    padding-top: 25px;
    padding-bottom: 45px;
    background: linear-gradient(180deg, #212328 2.02%, rgba(0, 0, 0, 0) 20.1%),
      linear-gradient(360deg, #212328 -2.06%, rgba(0, 0, 0, 0) 29.7%),
      url(../img/bg/bg-9.png) no-repeat;
    background-size: cover;
    padding-left: 14px;
    padding-right: 17px;
    mix-blend-mode: lighten;
    animation: bcg 8s infinite;
  }

  &-block10 {
    background: linear-gradient(180deg, #212328 -1.98%, rgba(0, 0, 0, 0) 20.1%),
      linear-gradient(360deg, #212328 5.94%, rgba(0, 0, 0, 0) 29.7%),
      url(../img/bg/bg-10.png) no-repeat;
    background-size: cover;
    padding-left: 14px;
    padding-right: 17px;
    mix-blend-mode: lighten;
    animation: bcg 8s infinite;
  }

  &-block11 {
    padding-top: 30px;
    background: url(../img/bg/bg-11.png) no-repeat;
    background-size: cover;
    padding-left: 14px;
    padding-right: 17px;
    mix-blend-mode: lighten;
    padding-bottom: 20px;
    animation: bcg 8s infinite;
  }

  &-hookahs {
    &__table {
      &1 {
        margin-top: 34px;
        margin-bottom: 34px;
      }

      &2 {
        margin-bottom: 40px;
      }

      &3 {
        margin-bottom: 24px;
      }
    }

    &__stock {
      display: block;
      margin-top: 24px;
    }

    &__description {
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 140%;
    }
  }

  &-tea {
    span {
      top: -16px;
      left: 22px;
    }
    &__table {
      &1,
      &2,
      &3 {
        margin-top: 36px;

        th {
          position: relative;

          span {
            position: absolute;
            right: -92px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        td:nth-child(2) {
          width: 70px;
          text-align: left;
        }
      }
    }
  }

  &-cakes {
    span {
      top: -25px;
      left: 18px;
    }
    &__table {
      &1 {
        margin-top: 20px;
      }
    }
  }

  &-lemonade,
  &-milkshakes {
    span {
      top: -13px;
      left: 30px;
    }
    &__table {
      &1 {
        th {
          margin-bottom: 12px;
        }
      }
    }
  }

  &-drinks {
    span {
      top: -16px;
      left: 29px;
    }
    h2 {
      line-height: 82% !important;
    }

    &__table {
      &1 {
        margin-top: 58px;
        margin-bottom: 30px;
      }
    }
  }

  &-beer {
    span {
      top: -8px;
      left: 28px;
    }
    &__table {
      &1 {
        margin-top: 47px;
      }

      &2 {
        margin-bottom: 10px;
      }

      &3 {
        margin-bottom: 12px;
      }
    }
  }

  &-snacks {
    span {
      left: 29px;
    }
    &__table {
      &1 {
        margin-top: 24px;
        margin-bottom: 10px;
      }
    }
  }

  &-rules {
    span {
      left: 28px;
    }
    &__ol {
      margin-top: 18px;
      line-height: 140%;

      li {
        position: relative;
        padding-left: 20px;
        margin-left: 5px;

        span {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 18px;
    }

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin-bottom: 25px;
      }

      &:nth-child(1) {
        margin-bottom: 22px;

        img {
          margin-left: 25px;
          width: 123px;
          height: 126.28px;
        }
      }

      &:nth-child(2) {
        margin-bottom: 35px;

        img {
          width: 149px;
          height: 145px;
        }
      }

      &:nth-child(3) {
        img {
          width: 107px;
          height: 165.04px;
          margin-left: 25px;
        }

        span {
          text-align: center;
          line-height: 130%;
        }
      }
    }
  }

  &-crash {
    margin-top: 24px;
    span {
      top: -9px;
      left: 31px;
    }
    &__red {
      display: block;
      text-align: center;
      width: 100%;
    }
  }

  &-question {
    position: relative;
    margin-top: 50px;

    h2 {
      line-height: 85% !important;
      margin-bottom: 33px;
    }

    i {
      line-height: 100%;
    }

    b {
      position: relative;
      display: block;
      text-align: left;
      margin-top: 18px;
      z-index: 10;
    }

    img {
      position: absolute;
      width: 174px;
      height: 181px;
      right: 10px;
      top: 120px;
    }

    &__last {
      margin-top: 195px;
      margin-bottom: 190px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 55px;
      justify-content: space-between;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__name {
      font-family: 'Roboto_bold', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      text-align: center;
      letter-spacing: 0.2em;
      margin-bottom: 10px;
    }

    &__date {
      font-family: 'Roboto_thin', sans-serif;
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 80.02%;
      text-align: center;
      color: #ffffff;
      opacity: 0.7;
    }

    img {
      max-width: 192px;
      max-height: 192px;
      margin-bottom: 28px;
    }
  }

  &-stock {
    margin-top: 5px;
    margin-bottom: 30px;

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-bottom: 20px;

      span {
        &:nth-child(1) {
          margin-bottom: 15px;
        }
      }
    }

    &__date {
      display: flex;
      justify-content: space-between;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        border: 3px solid rgba(255, 255, 255, 0.7);
        font-family: 'Roboto_bold', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 80.02%;
        color: rgba(255, 255, 255, 0.7);
        border-radius: 100%;

        &:nth-child(1),
        &:nth-child(3) {
          background: #76b9ad;
        }
      }
    }
  }
}

@media (max-width: 410px) {
  .menu {
    &-block {
      &1 {
        b {
          font-size: 90px;
        }
      }
    }

    &-stock {
      &__date {
        li {
          width: 40px;
          height: 40px;
          font-size: 14px;
        }
      }
    }
  }

  .text {
    &-back {
      font-size: 90px;
    }
  }
}

@media (max-width: 370px) {
  .menu {
    &-block {
      &1 {
        b {
          font-size: 80px;
        }
      }
    }
  }

  .text {
    &-back {
      font-size: 80px;
    }
  }
}

.vanta-canvas {
  opacity: 0.35;
  z-index: 100 !important;
}

.preloader {
  &.hide {
    opacity: 0;
    animation: preloader_wrapper 2s;
  }
  width: 100%;
  height: 100vh;
  position: absolute !important;
  top: 0;
  z-index: 100;
  background: url(../img/bg/bg-1.png);
  background-color: #2d3037;

  img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    transform: scale(1);
    transition: transform 1s, opacity 1s;
    &.hide {
      transform: scale(0.5);
      opacity: 0;
    }
  }

  &-block {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    & .text {
      transition: opacity 1s;
      &.hide {
        opacity: 0;
      }
    }
    h2 {
      position: relative;
      margin-bottom: 15px;
      font-family: 'Inter_bold', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;

      text-align: center;
      letter-spacing: 0.2em;

      color: #ffffff;
      &::before {
        position: absolute;
        content: '';
        top: -5px;
        right: 0;
        width: 0%;
        height: 2px;
        background-color: #fff;
        animation: preloader_before 1.5s 0.5s;
      }
      &::after {
        position: absolute;
        content: '';
        bottom: -5px;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: #fff;
        animation: preloader_before 1.5s 0.5s;
      }
    }

    span {
      font-family: 'Roboto_bold', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */

      text-align: center;
      letter-spacing: 0.2em;

      color: #ffffff;
    }
  }
}

@keyframes preloader_wrapper {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes preloader_before {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes arrow {
  0% {
    opacity: 1;
    transform: translateY(8px) scale(1.05);
  }
  50% {
    opacity: 0.4;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(8px) scale(1.05);
  }
}
@keyframes bcg {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 102% 102%;
  }
  100% {
    background-size: 100% 100%;
  }
}
@keyframes opacity {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.05;
  }
}
